* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: sans-serif;
  color: #2e2e2e;
}

h1 {
  text-align: center;
}

.wrapper {
  width: 50vw;
  margin: 0 auto;
  display: grid;
  place-items: center;
  padding: 3em;
  border: 1px solid #2e2e2e;
}
